/.vs/Ecommerce/v16/Server/sqlite3/
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Ecommerce/bin/Ecommerce.dll
/Ecommerce/bin/Ecommerce.pdb
/Ecommerce/obj/Debug/
.vs/Ecommerce/v16/.suo
.vs/Ecommerce/config/applicationhost.config
