
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container my-5">

        <h2>Bienvenido empleado</h2>
        <br />
        <p><strong>Nombre: </strong> Empleado</p>
        <br />
        <p><strong>Area: </strong> Empleado</p>
        <br />
        <p><strong>Puesto: </strong> Empleado</p>
        <br />
        <br />
        <p>Tus privilegios dentro de esta administracion son sobre los menus: </p>
        <strong> Prvivilegio 1</strong>

</div>
