@model Ecommerce.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}



<div class="container" style="margin-top:93px;">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button type="button" class="btn btn-success btn-lg btn-block"><i class="fas fa-edit"></i>  Modificar información</button>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Datos Personales</h5>
                </div>
                <div class="card-body">
                    <p><b>Nombre: </b>Pepito Pérez Pérez</p>
                    <p><b>Correo: </b>pperezp@toluca.tecnm.mx</p>
                    <p><b>Sexo: </b>Masculino</p>
                    <p><b>Fecha de Nacimiento: </b>01/01/97</p>
                    <p><b>Contraseña: </b>**********</p>

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Datos de envío</h5>
                </div>
                <div class="card-body">
                    <p><b>Estado: </b>Estado de México</p>
                    <p><b>Municipio: </b>Metepec</p>
                    <p><b>Código Postal: </b>52140</p>
                    <p><b>Colonia: </b>Centro</p>
                    <p><b>Calle: </b>Av. Estado de México</p>
                </div>
            </div>
        </div>
    </div>
    
</div>




