@{
    ViewBag.Title = "About";
}
<div class="container-fluid bg-pan2 py-5">
    <div class="row mx-5 pt-5 justify-content-center bg-semitanparente shadow">
        <img src="~/Content/img/logo.png" class="w-50" />
        <div class="col-12">
            <p>
                Quisque sodales urna augue, at condimentum ante aliquet et. Maecenas faucibus feugiat sem, quis tincidunt libero semper a. Nulla posuere venenatis sem, sit amet elementum est lobortis vitae. Maecenas libero magna, dignissim vel neque ut, vehicula finibus lorem. Praesent tempus massa eros, nec viverra augue luctus id. Ut cursus ante ut risus ultrices dapibus. Mauris enim turpis, blandit quis enim id, consectetur interdum magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut gravida, sapien sed bibendum tempus, tellus sem convallis orci, sit amet malesuada mi felis sit amet eros. Suspendisse sed ante gravida, varius metus vel, tincidunt orci. Etiam et aliquet tellus, non fringilla quam. Pellentesque ac ultricies dui. Pellentesque pretium bibendum tincidunt.
            </p><p>
                Fusce vitae commodo quam, nec bibendum est. Etiam ut elit dapibus, malesuada leo ac, convallis felis. Nullam id tellus rhoncus, dignissim mauris eget, finibus diam. Suspendisse rutrum quam diam, sit amet eleifend odio finibus imperdiet. Suspendisse potenti. Nunc fringilla pharetra sagittis. Mauris sed eros et ligula pretium suscipit. Duis pellentesque pulvinar mi quis lacinia. Donec lacinia eget odio quis cursus. Phasellus quis pellentesque felis, nec ullamcorper dui. Vivamus nec lorem massa. Donec convallis mollis turpis, ac ultrices enim tincidunt a.
            </p>
        </div>
        <div class="col-6 align-self-center">
            <div class="row justify-content-center">
                <h1>Vision</h1>
            </div>
        </div>
        <div class="col-6">
            Quisque sodales urna augue, at condimentum ante aliquet et. Maecenas faucibus feugiat sem, quis tincidunt libero semper a. Nulla posuere venenatis sem, sit amet elementum est lobortis vitae. Maecenas libero magna, dignissim vel neque ut, vehicula finibus lorem. Praesent tempus massa eros, nec viverra augue luctus id. Ut cursus ante ut risus ultrices dapibus. Mauris enim turpis, blandit quis enim id, consectetur interdum magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut gravida, sapien sed bibendum tempus, tellus sem convallis orci, sit amet malesuada mi felis sit amet eros. Suspendisse sed ante gravida, varius metus vel, tincidunt orci. Etiam et aliquet tellus, non fringilla quam. Pellentesque ac ultricies dui. Pellentesque pretium bibendum tincidunt.
        </div>

        <div class="col-6">
            Quisque sodales urna augue, at condimentum ante aliquet et. Maecenas faucibus feugiat sem, quis tincidunt libero semper a. Nulla posuere venenatis sem, sit amet elementum est lobortis vitae. Maecenas libero magna, dignissim vel neque ut, vehicula finibus lorem. Praesent tempus massa eros, nec viverra augue luctus id. Ut cursus ante ut risus ultrices dapibus. Mauris enim turpis, blandit quis enim id, consectetur interdum magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut gravida, sapien sed bibendum tempus, tellus sem convallis orci, sit amet malesuada mi felis sit amet eros. Suspendisse sed ante gravida, varius metus vel, tincidunt orci. Etiam et aliquet tellus, non fringilla quam. Pellentesque ac ultricies dui. Pellentesque pretium bibendum tincidunt.
        </div>
        <div class="col-6 align-self-center">
            <div class="row justify-content-center ">
                <h1 class="justify-content-center">Mision</h1>
            </div>
        </div>
    </div>
</div>