@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid p-0" style="background-image: url(../../Content/img/pandaderia.jpg)">
    <div class="container p-5 ">
        <div class="row align-items-center bg-semitanparente">
            <div class="col-3">
                <div class="text-center">
                    <h3>Mas vendido</h3>
                </div>
                <div class="card bg-transparent" style="max-width: 100%;">
                    <img src="~/Content/img/pan1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">

                        <a href="#" class="btn btn-primary form-control">Añadir al carrito</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img src="~/Content/img/logo.png" class="w-100"/>
            </div>
            <div class="col-3">
                <div class="text-center">
                    <h3>En oferta</h3>
                </div>
                <div class="card bg-transparent" style="max-width: 100%;">
                    <img src="~/Content/img/pan2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">

                        <a href="#" class="btn btn-primary form-control">Añadir al carrito</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>