@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid p-0 bg-pan1">
    <div class="container p-5 d-flex align-items-center h-100">
        <div class="row align-items-center justify-content-center bg-semitanparente shadow">
            <div class="col-3">
                <div class="text-center">
                    <h3>Mas vendido</h3>
                </div>
                <div class="card bg-transparent" style="max-width: 100%;">
                    <img src="~/Content/img/pan1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">

                        <a href="#" class="btn btn-primary form-control">Añadir al carrito</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img src="~/Content/img/logo.png" class="w-100"/>
            </div>
            <div class="col-3">
                <div class="text-center">
                    <h3>En oferta</h3>
                </div>
                <div class="card bg-transparent" style="max-width: 100%;">
                    <img src="~/Content/img/pan2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">

                        <a href="#" class="btn btn-primary form-control">Añadir al carrito</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="background-color: rgba(252, 243, 202, 0.7); margin-top:3%;">
                <div class="card-body">
                    <div class="row">
                        <h3 class="card-title">Los más vendidos</h3>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="card" style="background-color: #f9f2e2">
                                <div class="card-body">
                                    <h5 class="card-title">Panecito</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">100% orgánico <br />$3.00</h6>
                                    <img class="mx-auto d-block" src="https://place-hold.it/130" alt="Alternate Text" style="margin-top:15px" />

                                    <button type="button" class="btn btn-success mx-auto d-block" style="margin-top:20px;width:130px;"><i class="fas fa-cart-plus fa-lg"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card" style="background-color: #f9f2e2">
                                <div class="card-body">
                                    <h5 class="card-title">Panecito</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">100% orgánico <br />$3.00</h6>
                                    <img class="mx-auto d-block" src="https://place-hold.it/130" alt="Alternate Text" style="margin-top:15px" />
                                    <button type="button" class="btn btn-success mx-auto d-block" style="margin-top:20px;width:130px;"><i class="fas fa-cart-plus fa-lg"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card" style="background-color: #f9f2e2">
                                <div class="card-body">
                                    <h5 class="card-title">Panecito</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">100% orgánico <br />$3.00</h6>
                                    <img class="mx-auto d-block" src="https://place-hold.it/130" alt="Alternate Text" style="margin-top:15px" />
                                    <button type="button" class="btn btn-success mx-auto d-block" style="margin-top:20px;width:130px;"><i class="fas fa-cart-plus fa-lg"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card" style="background-color: #f9f2e2">
                                <div class="card-body">
                                    <h5 class="card-title">Panecito</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">100% orgánico <br />$3.00</h6>
                                    <img class="mx-auto d-block" src="https://place-hold.it/130" alt="Alternate Text" style="margin-top:15px" />
                                    <button type="button" class="btn btn-success mx-auto d-block" style="margin-top:20px;width:130px;"><i class="fas fa-cart-plus fa-lg"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="background-color: rgba(252, 243, 202, 0.7); margin-top:3%;">
                <div class="card-body">
                    <div class="row">
                        <h3 class="card-title">Ofertas</h3>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="card" style="background-color: #f9f2e2">
                                <div class="card-body">
                                    <h5 class="card-title">Panecito</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">¡Oferta especial! <br /><s>$4.00</s> $3.00<br /><b style="color:#49de5b">-25%</b></h6>
                                    <img class="mx-auto d-block" src="https://place-hold.it/130" alt="Alternate Text" style="margin-top:15px" />

                                    <button type="button" class="btn btn-success mx-auto d-block" style="margin-top:20px;width:130px;"><i class="fas fa-cart-plus fa-lg"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card" style="background-color: #f9f2e2">
                                <div class="card-body">
                                    <h5 class="card-title">Panecito</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">¡Oferta especial! <br /><s>$4.00</s> $3.00<br /><b style="color:#49de5b">-25%</b></h6>
                                    <img class="mx-auto d-block" src="https://place-hold.it/130" alt="Alternate Text" style="margin-top:15px" />
                                    <button type="button" class="btn btn-success mx-auto d-block" style="margin-top:20px;width:130px;"><i class="fas fa-cart-plus fa-lg"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card" style="background-color: #f9f2e2">
                                <div class="card-body">
                                    <h5 class="card-title">Panecito</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">¡Oferta especial! <br /><s>$4.00</s> $3.00<br /><b style="color:#49de5b">-25%</b></h6>
                                    <img class="mx-auto d-block" src="https://place-hold.it/130" alt="Alternate Text" style="margin-top:15px" />
                                    <button type="button" class="btn btn-success mx-auto d-block" style="margin-top:20px;width:130px;"><i class="fas fa-cart-plus fa-lg"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card" style="background-color: #f9f2e2">
                                <div class="card-body">
                                    <h5 class="card-title">Panecito</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">¡Oferta especial! <br /><s>$4.00</s> $3.00<br /><b style="color:#49de5b">-25%</b></h6>
                                    <img class="mx-auto d-block" src="https://place-hold.it/130" alt="Alternate Text" style="margin-top:15px" />
                                    <button type="button" class="btn btn-success mx-auto d-block" style="margin-top:20px;width:130px;"><i class="fas fa-cart-plus fa-lg"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="background-color: rgba(252, 243, 202, 0.7); margin-top:3%;">
                    <div class="card-body">
                        <div class="row">
                            <h3 class="card-title">Los más vendidos</h3>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="card" style="background-color: #f9f2e2">
                                    <div class="card-body">
                                        <h5 class="card-title">Panecito</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">100% orgánico <br />$3.00</h6>
                                        <img class="mx-auto d-block" src="https://place-hold.it/130" alt="Alternate Text" style="margin-top:15px" />

                                        <button type="button" class="btn btn-success mx-auto d-block" style="margin-top:20px;width:130px;"><i class="fas fa-cart-plus fa-lg"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card" style="background-color: #f9f2e2">
                                    <div class="card-body">
                                        <h5 class="card-title">Panecito</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">100% orgánico <br />$3.00</h6>
                                        <img class="mx-auto d-block" src="https://place-hold.it/130" alt="Alternate Text" style="margin-top:15px" />
                                        <button type="button" class="btn btn-success mx-auto d-block" style="margin-top:20px;width:130px;"><i class="fas fa-cart-plus fa-lg"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card" style="background-color: #f9f2e2">
                                    <div class="card-body">
                                        <h5 class="card-title">Panecito</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">100% orgánico <br />$3.00</h6>
                                        <img class="mx-auto d-block" src="https://place-hold.it/130" alt="Alternate Text" style="margin-top:15px" />
                                        <button type="button" class="btn btn-success mx-auto d-block" style="margin-top:20px;width:130px;"><i class="fas fa-cart-plus fa-lg"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card" style="background-color: #f9f2e2">
                                    <div class="card-body">
                                        <h5 class="card-title">Panecito</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">100% orgánico <br />$3.00</h6>
                                        <img class="mx-auto d-block" src="https://place-hold.it/130" alt="Alternate Text" style="margin-top:15px" />
                                        <button type="button" class="btn btn-success mx-auto d-block" style="margin-top:20px;width:130px;"><i class="fas fa-cart-plus fa-lg"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="background-color: rgba(252, 243, 202, 0.7); margin-top:3%;">
                    <div class="card-body">
                        <div class="row">
                            <h3 class="card-title">Ofertas</h3>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="card" style="background-color: #f9f2e2">
                                    <div class="card-body">
                                        <h5 class="card-title">Panecito</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">¡Oferta especial! <br /><s>$4.00</s> $3.00<br /><b style="color:#49de5b">-25%</b></h6>
                                        <img class="mx-auto d-block" src="https://place-hold.it/130" alt="Alternate Text" style="margin-top:15px" />

                                        <button type="button" class="btn btn-success mx-auto d-block" style="margin-top:20px;width:130px;"><i class="fas fa-cart-plus fa-lg"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card" style="background-color: #f9f2e2">
                                    <div class="card-body">
                                        <h5 class="card-title">Panecito</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">¡Oferta especial! <br /><s>$4.00</s> $3.00<br /><b style="color:#49de5b">-25%</b></h6>
                                        <img class="mx-auto d-block" src="https://place-hold.it/130" alt="Alternate Text" style="margin-top:15px" />
                                        <button type="button" class="btn btn-success mx-auto d-block" style="margin-top:20px;width:130px;"><i class="fas fa-cart-plus fa-lg"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card" style="background-color: #f9f2e2">
                                    <div class="card-body">
                                        <h5 class="card-title">Panecito</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">¡Oferta especial! <br /><s>$4.00</s> $3.00<br /><b style="color:#49de5b">-25%</b></h6>
                                        <img class="mx-auto d-block" src="https://place-hold.it/130" alt="Alternate Text" style="margin-top:15px" />
                                        <button type="button" class="btn btn-success mx-auto d-block" style="margin-top:20px;width:130px;"><i class="fas fa-cart-plus fa-lg"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card" style="background-color: #f9f2e2">
                                    <div class="card-body">
                                        <h5 class="card-title">Panecito</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">¡Oferta especial! <br /><s>$4.00</s> $3.00<br /><b style="color:#49de5b">-25%</b></h6>
                                        <img class="mx-auto d-block" src="https://place-hold.it/130" alt="Alternate Text" style="margin-top:15px" />
                                        <button type="button" class="btn btn-success mx-auto d-block" style="margin-top:20px;width:130px;"><i class="fas fa-cart-plus fa-lg"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>