
@using Ecommerce.Models
@{
    ViewBag.Title = "Tienda";
}

<div class="text-center">
    <h1>Catalogo</h1>
</div>
<ul class="nav justify-content-between px-5">
    @foreach (Catalogos catalog in ViewBag.catalogos)
    {
    <li class="nav-item">
        <a href="@Url.Action("CatalogShow", "Home", new { id=catalog.Id })" class="navbar-brand" title="List View">  
            <img alt="List View" src="@Url.Content("~/Content/img/logo.png")" class="img-logo">
        </a>
    </li>
    }


</ul>